.list-container {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    visibility: hidden;
}

.show {
    visibility: visible;
    max-height: 206px;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}

.slide-container {
    width: 300vw;
    transform: translateX(0vw);
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}